*{
  box-sizing: border-box;
}
// 禁止拖拽
.no-drag{
  -webkit-app-region: no-drag;
}

// flex  对齐方式
.flex(@justify: flex-start, @align:stretch){
  display: flex;
  justify-content:@justify;
  align-items:@align ;
}

// 滚动条
.base-scroll-bar(@width:0,@height:0){
  &::-webkit-scrollbar {
    height:@height;
    width:@width;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(144,147,153,.25);
  }
  &::-webkit-scrollbar-track {
    border-radius: 6px;
  }
}
